Package: bp-mirrormanager
Version: 0.1
Architecture: all
Depends: bp-perl-modules, libexpect-perl
Maintainer: Information Technology <internalsupport@bpok.com>
Description: Installs an automated mirror manager
  Automate OS Drive duplication and failover setup on secondary drive
